/* 
    Created on : 15-Jul-2015, 22:06:07
    Author     : Amon Jafarbay
*/

//FONTS
@font-face {
    font-family: 'comic neue';
    src: url('fonts/ComicNeue-Light.woff');
    font-weight: normal;
    font-style:normal;
}
@font-face {
    font-family: 'comic neue';
    src: url('fonts/ComicNeue-Light.woff');
    font-weight: bold;
    font-style:normal;
}
@font-face {
    font-family: 'comic neue';
    src: url('fonts/ComicNeue-Light-Oblique.woff');
    font-style: oblique;
    font-weight:normal;
}

@font-face {
    font-family: 'comic neue';
    src: url('fonts/ComicNeue-Light-Oblique.woff');
    font-weight: bold;
    font-style: oblique;
}



//STYLES
.fb-like {margin-bottom:20px !important;}
body, html {
    height: 100%; }

body {
    background: url("../img/curtains.jpg") #000 center -8px/1101px no-repeat;
    position: relative; }
body #overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    z-index: 10;
    
    opacity: 1;
    transition-duration: 2000ms; }
body.loaded #overlay {
    background: transparent;
    transition-delay: 200ms;
    /*opacity: 0;*/ }

/*HOMEPAGE*/
#home-search {
    position: relative;
    /*width: 380px;*/
    text-align: center;
    margin:auto;
    top: 60px;
    height: 270px;
    /*transform: translateY(-500px);*/ }
#home-search input.title-box {
    /*position: absolute;*/
    background: rgba(0, 0, 0, 0.6);
    top: 196px;
    padding: 6px 12px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    font-size: 1.1em;
    width: 360px;
    display:block;
    /*margin-left: -180px;*/
    margin:auto;
    text-align: center;
    color: white;
    z-index: 0; }
#home-search input.title-box:focus {
    outline: none; }
#home-search .action-button {
    position: relative;
    width: 140px;
    margin: auto;
    bottom: 20px; }

#type-selector {
    /*    position: absolute;*/
    width:150px;
    height:10px;
    /*left:0;right:0;*/
    margin:auto;
    bottom:0;   
}

#home-logo {
    display: block;
    position: relative;
    /*left: 0px;*/
    /*right: 0px;*/
    margin: auto;
    z-index: 9;
    height: 190px;
    pointer-events:none;
}

/*#home-logo img {  pointer-events: none; }*/

label.tv {color:white;}
.tv-checkbox {margin:4px 0 0}

#rexinfo {
    max-width: 500px;margin: auto;
    background: rgba(0,0,0,0.6);
    border-radius: 6px;
    padding: 1em 2em .2em;
    margin-top: 2em;
}
#rexinfo h2 {
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

#rexinfo p {
    color:white;
}

//Tooltips

.choose {color:red}

/*RESULTS*/

.search-list {
    list-style: none;
    text-align: left;
    position: absolute;
    margin: auto;
    width: 340px;
    display: block;
    left: 0px;
    right: 0px;
    top: 226px;
    z-index: 999;
    background:white;
    max-height: 268px;
    overflow-y: auto;
    border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
}
.search-list li {
    border-bottom: 1px solid #eee;
    padding: 4px 0;
    line-height: 1.3em;
    font-size: 0.9em;
}
.search-list li:hover, .search-list li.selected {background:#AEEEEE;}
.fuzzy-title {padding-left:0}
.fuzzy-image img {width:27px;}

/*Suggestions*/
/*=============================*/
#searching-animation {display:none;position:absolute;z-index:9999;left:50%;margin-left:-100px;}
.searching:after {
    content:'Hunting . . .';
    color:white;
    text-align: center;
    padding-top:450px;
    font-size: 2.8em;
    font-weight: bold;
    position: absolute;
    top:-200px;left:-200px;right:-200px;bottom:-200px;
    padding-left:40px;
    z-index: 9990;
    background: rgba(0,0,0,0.82);
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
}
.searching {overflow:hidden;}

.searching #searching-animation {display:block;}


.searching #home-logo {
    z-index: 9999;
}

#rex-fill {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0px;
    z-index: -1;
    opacity: 0;
}

.searching #rex-fill, .typing #rex-fill {
    opacity: 1;z-index: 99999;
}


.suggestions-container {list-style: none;}

/* SLIDER  */

.slick-track:focus {outline:none;}

#slider-container {
    max-width: 100%;
    width: 670px;
    margin: auto;
    /*padding-top: 400px;*/
    top:400px;
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    /*z-index: -10;*/
}

#slider-container.hover{
    z-index: 10;
    top: 0;
    padding-top:400px;
}

#suggestive-slider {
    max-width:650px;margin:auto;
}

.slick-list {overflow: visible !important;}

#suggestive-slider a.slider-control {
    position:absolute;
    display:block;
    width:17px;height:38px;
    top:90px;
    opacity:0.75;
    z-index: 10;
    cursor:pointer;
}

#suggestive-slider a.slider-control:hover {
    opacity:1;
}

#suggestive-slider a.slick-prev {
    left:-10px;
    background: url('../img/left.png');
}
#suggestive-slider a.slick-next {
    right:-10px;
    background: url('../img/right.png');
}

#suggestive-slider .slick-slide {
    height:272px;
    background: url('../img/shadow.png') center bottom no-repeat;
    outline:none;
}

.suggestion {
    width:150px;
    height:224px;
    margin:auto;
    padding:12px; 
    position:relative;
    border:1px solid white;
    box-sizing:border-box;
    background-size: cover;
    -webkit-perspective: 100px;
    -moz-perspective: 100px;
    -ms-perspective: 100px;
    -o-perspective: 100px;
    perspective: 100px;
}
.suggestion *:focus {outline:none;}

.suggestion:focus .synopsis, .suggestion:focus .synopsis:after {outline:none;}

/*poster black overlay*/
.suggestion:before {
    content:'';
    position:absolute;
    top:0;right:0;bottom:0;left:0;
    background:rgba(0,0,0,.75);
    z-index: 0;
    opacity:0;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;

}

.suggestion img {position:relative; z-index:0}

.suggestion h4, .suggestion h5, .rex-it {
    color:white;
    text-align: center;
    font-size:14px;
    font-weight: bold;
    position:relative;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.suggestion h5 {
    font-size: 30px;
    background:url('../img/imdb.png') left / 30px no-repeat;
    padding-left:34px;
}
.suggestion h4 i {font-weight: normal}
/*.suggestion h5:before {
    content:'';
    display:block;
    width:30px;height:30px;
    background:url('../img/imdb.png') center / cover no-repeat;
}*/

/*bring in the black overlay on hover and when no-poster */
.suggestion:hover h4, .suggestion.no-poster h4,
.suggestion:hover h5, .suggestion.no-poster h5,
.suggestion:hover:before, .no-poster:before, 
.suggestion:hover .rex-it, .suggestion.no-poster .rex-it {opacity:1}

.rex-it {
    font-weight: normal;
    position: absolute;
    left: 0px;
    width: 70px;
    right: 0px;
    text-align: center;
    margin: auto;
    bottom: 12px;
    background: #25ab44;
    padding: 2px;
    font-size: 12px;
    border-radius: 4px;
}

.rex-it:hover { background: #148d31;color:white}


.suggestion .synopsis {
    position: absolute;
    background-color: white;
    bottom:242px;
    width: 220px;
    /*height: 280px;*/
    border-radius: 6px;
    -webkit-border-radius: 6px;
    left: 0;
    margin-left: -36px;
    padding: 10px 12px;
    /*display:none;*/
    /*font-family: 'comic neue';*/
    font-size:13px;
    line-height:18px;
    font-weight: normal;

    /*Animation*/
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -moz-transform-origin: 50% 105%;
    -webkit-transform-origin: 50% 105%;
    -o-transform-origin: 50% 105%;
    -ms-transform-origin: 50% 105%;
    transform-origin: 50% 105%;
    -moz-transform: rotateX(45deg);
    -webkit-transform: rotateX(45deg);
    -o-transform: rotateX(45deg);
    -ms-transform: rotateX(45deg);
    transform: rotateX(45deg);
    opacity:0;
}

.suggestion .synopsis hr {margin:8px}
.suggestion .synopsis h2 {font-size:14px;font-weight:bold;margin-bottom:0px;}
.suggestion .synopsis span {
    display: block;
    padding: 4px 12px;
    background-color: #ededed;
    margin: 6px -12px;
}
.suggestion .synopsis strong {color:darkred}

.suggestion:hover .synopsis {
    /*display:block;*/
    opacity:1;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform:none;
}

/*.suggestion .synopsis:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15.6px 9px 0 9px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -10px;
}*/
.suggestion .synopsis:after {
    content: '▼';
    font-size: 18px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -10px;
    line-height: 12px;
    text-shadow: 0 4px 4px rgba(0,0,0,0.5);
}

/*synopsis shadow*/
.suggestion .synopsis {
    box-shadow:0 0px 10px black;
    -webkit-box-shadow:0 0px 10px black;
}

/*tooltip*/

#tooltip {
    position: absolute;
    background: url('/img/bubble.png') center / contain no-repeat;
    width:150px;
    height:145px;
    padding: 14px 14px 40px;
    font-family: 'comic neue';
    /*font-style: oblique;*/
    /*font-weight: bold;*/
    font-size: 19px;
    top:-50px;
    right:50%;
    margin-right:-250px;
    opacity:0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

aside.choose, aside.spell, aside.rawr {display:none;font-size:18px}

aside.spell {font-size: 22px; line-height: 27px}
aside.rawr {    font-size: 40px;
                -webkit-transform: rotate(-20deg);
                -moz-transform: rotate(-20deg);
                -o-transform: rotate(-20deg);
                -ms-transform: rotate(-20deg);
                transform: rotate(-20deg);
                padding-top: 12px;}
.spell strong {font-style:normal;}

.choose #tooltip, .spell #tooltip, .rawr #tooltip {opacity: 1}

.choose .choose, .spell .spell, .rawr .rawr {display:block}

/*Transitions*/
/*=============================*/
.transition {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
.transition.slow {
    transition-duration: 0.6s; }

/*ACTION BUTTONS*/
/*=============================*/
/*this row is for rows with buttons only as they need spacing*/
.row.action-buttons {
    margin: 1em auto 2em; }

.action-button {
    position: relative;
    padding: 4px 14px;
    margin: 0px 10px 10px 0px;
    /*float: left;*/
    border-radius: 10px;
    /*font-family: 'Pacifico', cursive;*/
    font-size: 1em;
    color: #FFF !important;
    text-decoration: none;
    background-color: #FB034E;
    border-bottom: 5px solid #a90235;
    text-shadow: 0px -2px #a90235;
    display: inline-block; }
.action-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid #a90235;
    margin-bottom: 14px; }
.action-button:hover {
    color: white; }
.action-button.blue {
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9; }
.action-button.red {
    background-color: #E74C3C;
    border-bottom: 5px solid #BD3E31;
    text-shadow: 0px -2px #BD3E31; }
.action-button.green {
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644; }
.action-button.yellow {
    background-color: #F2CF66;
    border-bottom: 5px solid #D1B358;
    text-shadow: 0px -2px #D1B358; }
.action-button.primary {
    background-color: darkgreen;
    border-bottom: 5px solid #003100;
    text-shadow: 0px -2px #003100; }
.action-button:active {
    border-width: 1px; }

/*TV SWITCH*/

.onoffswitch {
    position: relative; width: 73px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid rgba(0,0,0,0.15); border-radius: 26px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 22px; padding: 0; line-height: 22px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "TV";
    padding-left: 10px;
    background-color: #37AC2C; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO TV";
    padding-right: 10px;
    background-color: #D92E2E; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 30px; margin: -2.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 47px;
    border-radius: 26px;
    box-shadow: 1px 2px 6px black;
    -webkit-box-shadow: 1px 2px 6px black;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/*Mobile view */
/*====================================================*/
/*====================================================*/

@media only screen and (max-width:500px) {
    /*homesearch*/
    #home-search {top:80px;}
    #home-search input.title-box, #home-search input,#home-search ul {display:none;}
    .tv-checkbox  {display:none;}
    #home-logo {height:auto;}
    #home-logo img {max-width:60%}
    #tooltip {display:none;}

    /*mobilesearch*/
    #mobileSearch {
        position:fixed;
        padding:12px;
        top:0;
        z-index: 12;
        width:100%;
        /*background: #61bc57;*/ 
        background: #CE2626;
        box-shadow:0 2px 6px rgba(0,0,0,0.7);
        -webkit-box-shadow:0 2px 6px rgba(0,0,0,0.7);
        background:url('../img/search.png') 12px center / 30px no-repeat #333;
    }
    #mobileSearch .title-box {
        margin-left: 11%;
        width: 89%;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        border: none;
        /*box-shadow: inset 1px 1px #aaa;*/
        /*-webkit-box-shadow: inset 1px 1px #aaa;*/
        padding: 6px;
        height:38px;
        font-size: 16px;
    }
    #mobileSearch .title-box:focus {outline:none;}
    
    .onoffswitch {
        position: absolute;
        right:12px;
        top:82px;
    }
    
    .search-list {
        top:62px;
        width:100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        max-height: 100vh;
        box-shadow: 0 1px 20px;
        -webkit-box-shadow: 0 1px 20px;
    }
    
    .search-list li {padding:10px 0;min-height:57px;}

    /*info*/
    #rexinfo {background:none;padding:0 1em 1em;margin-top:0}
    #rexinfo h2 {font-size:22px;}
    #rexinfo p {
        padding: 1em;
        border: 1px solid rgba(255,255,255,0.15);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        background:white;
        color:black;
        box-shadow: 0px 4px 4px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0px 4px 4px rgba(0,0,0,0.5);
    }

    /*mobileslider*/
    #slider-container {
    width:100%;
    top:0;
    padding-top:60px;
    z-index:10;
    overflow:auto;
    /*background:white;*/
    }
    #suggestive-slider {background:white;}
    .slick-list {overflow: hidden !important;}
    #suggestive-slider .slick-slide {background: white;height:auto}
    #suggestive-slider a.slick-next {right:20px}
    #suggestive-slider a.slick-prev {left:20px}
    .mobile-poster {background: #444;}
    .slick-slide img {display:inline-block}
    .mobile-poster img{
        margin:auto;display:block;
        box-shadow :0 0 12px black;
        position:relative;
    }
    .mobile-suggestion h3 {
        font-size: 30px;
        position:relative;
        line-height: 30px;
        margin:0;
        padding:7px 12px 4px;
        text-align: center;
        color:white;
        background:#222;
    }
    .mobile-suggestion h3 img {height:30px; margin-right: 12px;margin-top:-4px;}
    .mobile-suggestion h2 {
        background:#222;
        color:white;
        text-align: center;
        font-size:22px;
        padding:0 6px 6px;
        margin:0;
    }
    .mobile-suggestion h4 {
        font-size:16px;
        text-align: center;
        background:#ccc;
        margin:0;
        padding:4px;
    }
    
    .mobile-synopsis hr {margin:6px;}
    .mobile-synopsis {padding:6px;font-size:15px;line-height:20px}
    .mobile-synopsis strong {
        color:darkred;margin-right:4px;
    }
    .mobile-synopsis p {
        font-size: 15px;
        line-height: 20px;
    }
    .mobile-synopsis .rex-it {
        opacity:1;
        position:relative;
        display:block;
        padding:4px;
        font-size:15px;
        margin-top:6px;
        border-bottom:2px solid darkgreen;
        width:150px;
    }
}
    
    

/*NON MOBILE VIEW*/
/*=================================================*/
@media only screen and (min-width:501px) {
    #mobileSearch {display:none;}
    #fb-box {position:absolute;top:20px;left:20px;}
}

/*Large Desktop*/
/*=================================================*/
@media only screen and (min-width:1600px) {
    body {
        background-size:1500px;
    }
    #slider-container {top:616px;width:990px}
    #suggestive-slider {max-width:970px}
    #suggestive-slider .slick-slide {height:292px}
    #slider-container.hover{padding-top:616px}
    .suggestion {width:180px;height:263px;}
    .suggestion .synopsis {width:240px;margin-left:-30px;bottom:280px;}
}