
{% extends "layout.html.twig" %}

{% block content %}

    <input class="title-box" type="text" placeholder="Please enter title">

    <ul class="results-container">

    </ul>
    
    
    <script>

        $(function () {
            $('.title-box').keyup(function () {
                $('.results-container').html('');
                if( this.value.length > 0 ) {
                    getData(this.value);
                }
            });
        });
        
        function getData( title ) {
            console.log(title);
            var url = "{{ url('_imdb_api_suggests') }}";
            return $.ajax({
                url: url+'/'+title
            }).success(function ( data ) {
                if( data.d !== undefined ) {
                    displayTitles(data.d);
                }
            });            
        }
        
        function displayTitles( titles ) {
            $.each( titles, function( index, title ) {
                var image = title.i[0];
                var ia = image.split('.');
                var type = ia.pop();
                ia.pop();
                ia.push('_V1');
                ia.push('_SX40_CR0,0,40,54_');
                ia.push(type);
                image = ia.join('.');
                var html = '<li><img src="'+image+'">'+title.l + ', '+ title.q + ', '+ title.y + '</li>';
                $('.results-container').append(html);
            });
        }
    </script>



{% endblock content %}
