{% extends "layout.html.twig" %}

{% block content %}
    <main>
        <div id="home-search">
            <h1 id="home-logo">
                <img src="img/movie-rex.png" alt="MovieRex" />
            </h1>
                <input class="title-box" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tell me a movie you love'" type="text" placeholder="Tell me a movie you like"></input>
                <ul class="results-container"></ul>
            <a class="action-button green">suggest films</a>
        </div>
        <ul class="suggestions-container"></ul>
    </main>
    <div id="overlay" class="transition"></div>



{% endblock content %}
{% block postscripts %}
    <script>

        $(function () {
            $('.title-box').keyup(function () {
                if (this.value.length > 0) {
                    getData(this.value);
                }
                else{
                    $('.results-container').html('');
                }
            });
            $('body').addClass('loaded');
            $('#home-search').delay(800).animate({top: 60}, 700, 'easeOutBack');
        {#            $('<img/>').attr('src', '/img/curtains.jpg').load(function () {#}
        {#            $(this).remove(); // prevent memory leaks as @benweet suggested#}
        {#            });#}
            });

            function getData(title) {
                var url = "{{ url('_imdb_api_suggests') }}";
                return $.ajax({
                    url: url + '/' + title
                }).success(function (data) {
                    if (data.d !== undefined) {
                        displayTitles(data.d);
                    }
                });
            }

            function displayTitles(titles) {
                $('.results-container').html('');
                $('.suggestions-container').html('');
                $.each(titles, function (index, title) {
                    var image = (title.i !== undefined)?title.i[0]:'';
                    var ia = image.split('.');
                    var type = ia.pop();
                    var check1 = "movie";
                    var check2 = "feature";
                    ia.pop();
                    ia.push('_V1');
                    ia.push('_SX40_CR0,0,40,54_');
                    ia.push(type);
                    image = ia.join('.');
                    if (title.q && (title.q.indexOf(check1) !== -1 || title.q.indexOf(check2) !== -1)) {
{#                    if (title.q.indexOf(check2) != -1) {#}
{#                        var html = '<li><img src="' + image + '">' + title.l + ', ' + title.q + ', ' + title.y + '</li>';#}
                        var html = '<li><div class="row title-container" data-id="'+ title.id +'"><div class="columns small-2 fuzzy-image"><img src="' + image + '" alt="' +title.l + '"/></div><div class="columns small-10 fuzzy-title"><strong>' + title.l + '</strong> (' + title.y + ')</div></div></li>';
                        $('.results-container').append(html);
                    }
                });
                $('.title-container').click( function( e ) {
                    getTitleData($(this).data('id'));
                });
            }
            
            function getTitleData(id) {
                console.log(id);
                var url = "{{ url('_imdb_api_title') }}";
                return $.ajax({
                    url: url + '/' + id
                }).success(function (data) {
                    if (data !== undefined) {
                        displaySuggestions(data);
                    }
                });
            }

            function displaySuggestions(titles) {
{#                    console.log(titles);#}
                $('.results-container').html('');
                $('.suggestions-container').html('');
                $.each(titles, function (index, title) {
                    var html = '<li><div class="row" data-id="'+ title.id +'"><div class="columns small-10 fuzzy-title"><strong>' + title.title + '</strong> (' + title.years + ')</div></div></li>';
                    $('.suggestions-container').append(html);
{#                    console.log(title);#}
                });
            }

            
    </script>

{% endblock postscripts %}
