{% extends "layout.html.twig" %}

{% block content %}
    <main>
        <div id="home-search">
            <h1 id="home-logo">
                <img src="img/movie-rex.png" alt="MovieRex" />
            </h1>
            <input class="title-box" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tell me a movie you like'" type="text" placeholder="Tell me a movie you like"></input>
            <ul class="results-container"></ul>
            <a class="action-button green">suggest films</a>
        </div>

        <ul class="suggestions-container"></ul>
        <div id="suggestive-slider">
            {#  <div>
                  <div class="suggestion" style="background:url('/img/jpark.jpg')">
                      <h4>Movie title here</h4>
                      <h5 class="imdb">8.1</h5>
                  </div>
              </div>
              <div>
                  <div class="suggestion">
                      
                      <img src="/img/jpark.jpg" />
                      <h4>Movie title here</h4>
                      <h5 class="imdb">9.9</h5>
                  </div>
              </div>
              <div>
                  <div class="suggestion">
                      
                      <img src="/img/jpark.jpg" />
                      <h4>Movie title here</h4>
                      <h5 class="imdb">9.9</h5>
                  </div>
              </div>#}
        </div>
    </main>
    <div id="overlay" class="transition"></div>



{% endblock content %}
{% block postscripts %}
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <script>

        $(function () {
            $('.title-box').keyup(function () {
                if (this.value.length > 0) {
                    getData(this.value.replace(/ /g,'_').toLowerCase());
                }
                else {
                    $('.results-container').html('');
                }
            });
            $('body').addClass('loaded');
            $('#home-search').delay(800).animate({top: 20}, 700, 'easeOutBack');
        {#            $('<img/>').attr('src', '/img/curtains.jpg').load(function () {#}
        {#            $(this).remove(); // prevent memory leaks as @benweet suggested#}
        {#            });#}
            });

            function getData(title) {
                var url = "{{ url('_imdb_api_suggests') }}";
                return $.ajax({
                    url: url + '/' + title
                }).success(function (data) {
                    if (data.d !== undefined) {
                        displayTitles(data.d);
                    }
                });
            }

            function displayTitles(titles) {
                $('.results-container').html('');
                $('.suggestions-container').html('');
                $.each(titles, function (index, title) {
                    var check1 = "movie";
                    var check2 = "feature";
                    var image = '';
                    if(title.i !== undefined) {
                        var ia = title.i[0].split('.');
                        var type = ia.pop();
                        ia.pop();
                        ia.push('_V1');
                        ia.push('_SX40_CR0,0,40,54_');
                        ia.push(type);
                        image = ia.join('.');
                    }
                    if (title.q && (title.q.indexOf(check1) !== -1 || title.q.indexOf(check2) !== -1)) {
        {#                    if (title.q.indexOf(check2) != -1) {#}
        {#                        var html = '<li><img src="' + image + '">' + title.l + ', ' + title.q + ', ' + title.y + '</li>';#}
                        var html = '<li><div class="row title-container" data-id="' + title.id + '"><div class="columns small-2 fuzzy-image"><img src="' + image + '" alt="' + title.l + '"/></div><div class="columns small-10 fuzzy-title"><strong>' + title.l + '</strong> (' + title.y + ')</div></div></li>';
                        $('.results-container').append(html);
                    }
                });
                $('.title-container').click(function (e) {
                    getTitleData($(this).data('id'));
                });
            }

            function getTitleData(id) {
        {#                console.log(id);#}
                var url = "{{ url('_imdb_api_title') }}";
                return $.ajax({
                    url: url + '/' + id
                }).success(function (data) {
                    if (data !== undefined) {
                        displaySuggestions(data);
                    }
                });
            }

            function displaySuggestions(titles) {
        {#                    console.log(titles);#}
                $('.results-container').html('');
                if ($('#suggestive-slider').hasClass('slick-initialized')) {
                    $('#suggestive-slider').slick('unslick');
                }
                $('#suggestive-slider').html('');
                $.each(titles, function (index, title) {
                    var image1 = (title.i !== undefined) ? title.i[0] : '';
                    var titleShort = title.title.trimToLength(40);
                    var html = '<div><div class="suggestion" style="background:url(/img/jpark.jpg)" data-id="' + title.id + '"><h4>' + titleShort + ' <i>' + title.years + '</i></h4><h5>8.1</h5></div></div>';
                    $('#suggestive-slider').append(html);

        {#                    console.log(title);#}
                });
                $('#suggestive-slider').slick({
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    speed: 1200,
{#                    swipeToSlide: true,#}
                    prevArrow: '<a class="slider-control slick-prev transition"></a>',
                    nextArrow: '<a class="slider-control slick-next transition"></a>'
                });
                
                
                
            }
            
            $('#suggestive-slider').on('init', function(){
                    var tl = new TimelineMax();
                    var $slides = $('.slick-slide');
                    tl.staggerFrom($('.slick-slide'), 1,{x:1000}, 0.1);
                });
            
            String.prototype.trimToLength = function (m) {
                return (this.length > m)
                        ? jQuery.trim(this).substring(0, m).split(" ").slice(0, -1).join(" ") + "..."
                        : this;
            };
    </script>

{% endblock postscripts %}
